<div class="main">
	<div class="top-left"></div>
	<div class="top-middle"></div>
	<div class="top-right"></div>
	<div class="middle-left"></div>
	<div class="middle-middle"></div>
	<div class="middle-right"></div>
	<div class="bottom-left"></div>
	<div class="bottom-middle"></div>
	<div class="bottom-right"></div>
</div>

<div class="home-buttons">
	<div class="select-players">Select Number of Players</div>
	<button ui-sref="onePlayer">One-Player</button>
	<button ui-sref="twoPlayer">Two-Player</button>
</div>